@import "bootstrap.min";
@import "font-awesome.min";

body {
  font-size: 16px;
}
.publish-date {
  color: #999;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}

.topics {
  margin: 0 auto 10px 15px;
  color: #777;
  font-size: 13px;
}

.series {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.footer {
  border-top: 1px solid #ddd;
  padding-top: 18px;
  margin-top: 20px;

  .contact {
    font-size: 20px;
  }
}

.hidden {
  display: none;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar {
  margin-bottom: 10px;
}

.header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.compressed-top {
  margin-top: 5px;
}

.img-circle {
  //margin-top: 21px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-height: 115px;
  max-width: 115px;
}

.blog {
  .article {
    padding-bottom: 15px;
    border-bottom: 1px dashed #ddd;

    .description {
      padding-left: 20px;
      h2 {
        font-size: 26px;
        margin-top: 0;
      }
      p {
        font-size: 16.75px;
      }
    }
  }
}
