
<section class="newsletter">
	<h1>Newsletter</h1>
	<!-- Begin MailChimp Signup Form -->
	<form action="https://matthewmachuga.us19.list-manage.com/subscribe/post?u=a76548539669a5eba5de4956c&amp;id=13c5152576"
		method="post"
		id="mc-embedded-subscribe-form"
		name="mc-embedded-subscribe-form"
		class="newsletter--signup"
		target="_blank">
			<div class="email-group">
				<label for="mce-EMAIL" class="email-label">Email</label>
				<input type="email"
				       value=""
				       name="EMAIL"
				       class="required email"
							 placeholder="Enter your Email"
				       id="newsletter-email">
			</div>

			<!-- humans should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true">
				<input type="text" name="b_a76548539669a5eba5de4956c_13c5152576" tabindex="-1" value="">
			</div>

			<input type="submit"
			       value="Subscribe"
			       name="subscribe"
			       class="subscribe-btn"/>
	</form>
</section>
