<nav class="social-nav">
	<ul class="nav-bar">
		<li class="social-link">
			<a href="https://twitter.com/machuga">
				<i class="fab fa-fw fa-twitter-square"></i>
			</a>
		</li>
		<li class="social-link">
			<a href="https://github.com/machuga">
				<i class="fab fa-fw fa-github"></i>
			</a>
		</li>
		<li class="social-link">
			<a href="https://linkedin.com/in/machuga">
				<i class="fab fa-fw fa-linkedin"></i>
			</a>
		</li>
		<li class="social-link">
			<a href="https://mastodon.social/@machuga">
				<i class="fab fa-fw fa-mastodon"></i>
			</a>
		</li>
		<li class="social-link">
			<a href="https://vimeo.com/machuga">
				<i class="fab fa-fw fa-vimeo"></i>
			</a>
		</li>
	</ul>
</nav>
