<p>
  I'm an Engineering Leader from Erie, PA. I specialize in growing teams and organizations
  to develop, maintain, and scale web applications of various sizes and complexity.
</p>
<p>
  Prior to moving into leadership, I built and maintained several high-traffic
  and high-throughput applications in NodeJS, Ruby, and PHP with fantastic
  engineering teams ranging from 16 to 200+ engineers.
</p>
<p>
  I'm currently the Senior Director of Engineering at
  <a href="https://oysterhr.com">Oyster®</a>.
  I've previously served as an
  Engineering Manager at <a href="https://auth0.com">Auth0 (acquired by Okta)</a>,
  and a Senior Software Engineer at
  <a href="https://imaginelearning.com/math">Think Through Learning (acquired by Imagine Learning)</a>.
  Locally I organize the annual <a href="https://eriedayofcode.com">Erie Day of Code</a>
  conference with a group of awesome individuals.
</p>
<p>
  I like to speak at conferences, work on open source, and write about
  technical and engineering leadership topics. Sometimes I turn them
  into bigger projects. If any of that sounds interesting, please sign
  up for my newsletter to keep tabs on my activies.
</p>
<%= partial 'newsletter' %>
