---
---

.row
  .col-md-12
    %h1 Hello!  My name is Matthew Machuga.

    %p
      I'm a software developer from Erie, PA who specializes in architecting
      and developing web applications.

    %p
      These days I tend to work most with Ruby, JavaScript, and PHP.
      I work on a variety of tasks including building traditional
      web applications, designing and implementing API's, and creating
      rich JavaScript client applications that the API's can work with.

    %p
      I like to contribute back to the open source community in the form of
      code,
      %a{:href => '/screencasts.html'} screencasts,
      and helping on public forums or IRC.

    %h3 There are some ways I may be able to lend a hand
.row
  .col-md-4
    %h3 Consulting
    %p
      Sometimes it helps to have an outside person take a look at a project you have in mind.
      Is creating a single page JS application better for your particular app?
      Is it more cost effective to salvage the legacy code or rewrite it?
      Are there things that could be done differently to make the code easier to maintain or more performant?
      Let me help you answer questions like these.
  .col-md-4
    %h3 Training
    %p
      You already have some awesome developers, but want them to have a better way to communicate,
      collaborate, and ensure code quality. Workflows can be optimized, team cohesion can be improved,
      and processes can be enhanced to allow a positive enviornment for developers, managers, and all
      other teams in your company.  I'd like to help make your development team as happy and effective
      at their jobs as possible.
  .col-md-4
    %h3 Tutoring/Mentoring
    %p
      Students and life-long learners alike often learn better when they have someone available to
      help them see problems in a new different way.  Whether it's learning a new technology, a new
      programming paradigm, how to effectively test apps, or just learn effective workflows, having
      someone to go to with your questions is comforting and very benficial.
      I'm available to give you a hand.
