---
title: Matthew Machuga | Software Engineer / Engineering Manager / Educator
---

<p>
	I'm a Software Engineer and Engineering Manager from Erie, PA. I specialize
	in architecting and developing web applications of a variety of sizes, and
	leading teams to do the same. I've primarily worked in JavaScript, Ruby, and
	PHP over the past decade or so.
</p>

<p>
  I'm an Engineering Manager at
  <a href="https://auth0.com">Auth0</a>, where I work with a globally
  distributed team to help make identity easy.
  I also run a small podcast called
  <a href="https://bitsandtrees.com">Bits and Trees</a>
  where I talk development and management with guests.
  Locally I organize the annual
  <a href="https://eriedayofcode.com">Erie Day of Code</a>
  conference with a group of awesome individuals.
</p>

<p>
  I like to speak at conferences, work on open source, write about
  technical and engineering leadership topics. Sometimes I turn them
  into bigger projects. If any of that sounds interesting, please sign
  up for my newsletter to keep tabs on my activies.
</p>

<%= partial 'newsletter' %>
