<section class="screencasts">
	<h1>Screencasts</h1>
	<div class="grid">
		<aside class="current cell">
			<h2>Current</h2>
			<ul class="current">
				<li>
					<a href="https://bitsandtrees.com">Bits and Trees</a>
				</li>
			</ul>
		</aside>

		<aside class="legacy cell">
			<h2>Envato & Other</h2>
			<ul class="legacy">
				<li>
					<a href="https://tutsplus.com/authors/matthew-machuga">Envato's Tutsplus</a>
				</li>
				<li>
					<a href="https://vimeo.com/user549215">Laravel Screencasts</a>
				</li>
			</ul>
		</aside>
	</div>
</section>
